		/* Sets font size and style for all text in body */
		body {
 		  font-size: 14px;
 		  font-family: Arial, Helvetica, sans-serif;
		}

		/* Sets properties for title */
		h1 {
		    color: orangered;
		    font-size: 200%;
		    text-align: left;
		}

		/* Sets properties for chart legend and source */
		p {
			text-align: justify;
		}

		/* Sets properties for bars */
		.bar {
		  fill: steelblue;
		}

		.bar:hover {
		  fill: orangered;
		}

		/* Sets properties for text in axes */
		.axis text:hover {
		  fill: orangered;
		  font-size: 110%;
		}

		/* Sets properties for axes */
		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		.x.axis path {
		  display: none;
		}

		/* Creates d3-tip */
		.d3-tip {
		  line-height: 1;
		  font-weight: bold;
		  padding: 12px;
		  background: rgba(0, 0, 0, 0.8);
		  color: #fff;
		  border-radius: 2px;
		}
		
		/* Creates a small triangle extender for the tooltip */
		.d3-tip:after {
		  box-sizing: border-box;
		  display: inline;
		  font-size: 10px;
		  width: 100%;
		  line-height: 1;
		  color: rgba(0, 0, 0, 0.8);
		  content: "\25BC";
		  position: absolute;
		  text-align: center;
		}

		/* Style northward tooltips differently */
		.d3-tip.n:after {
		  margin: -1px 0 0 0;
		  top: 100%;
		  left: 0;
		}