/*Swip Draijer*/
/*10192239*/
/*Data Processing*/
/*D3 Linked Views Cascading Style Sheets*/

/* Sets margins, font size and style for body */
	body {
		font-size: 18px;
 	 	font-family: Arial, Helvetica, sans-serif;
	}

/* Sets properties for title */
	h1 {
	    color: orangered;
	    font-size: 200%;
	    text-align: left;
	}

/* Sets properties for figure information title */
	h2 {
	    color: orangered;
	    font-size: 150%;
	    text-align: left;
	}

	h3 {
		font-weight: normal;
		text-align: justify;
	}

/* Legend */
.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}
.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.my-legend a {
	  	color: #777;
}

div.my-legend {
	margin-bottom: 50px;
}

element.style {
    padding-bottom: 5% !important;
}

/*Sets axes*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*Sets border of dots*/
.dot {
  stroke: #000;
}

/*Sets tooltip*/
.tooltip {
  position: absolute;
  text-align: left;
  right: 250px;
  width: 200px;
  height: 40px;
  padding: 8px;
  margin-top: -20px;
  font: 14px Arial;
  background: #ddd;
  pointer-events: none;
}