/*Swip Draijer
10192239
Data Processing
Prepares data for D3 line*/

body {
	font-family: "Helvetica Neue", Helvetica;
	font-size: 22px;
}

.title {
	font-size: 30px;
	text-decoration: underline;
}

.focus circle {
  fill: none;
  stroke: orangered;
}

.line_min {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}
.line_max {
	fill: none;
	stroke: green;
	stroke-width: 2px;
}
.line_avg {
	fill: none;
	stroke: orangered;
	stroke-width: 2px;
	stroke-dasharray: 3, 2
}

.dateholder {
	font-weight: bold;
}

#inds{
	position: static;
}