/*Swip Draijer
10192239
Data Processing
Prepares data for D3 line*/

body {
	font-family: "Helvetica Neue", Helvetica;
}

path {
	stroke: steelblue;
	stroke-width: 1;
	fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.axis text {
    font-size: 20px;
}

  
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }